@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
.body_overflow {
    overflow: hidden !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/*! ----------| Header |----------  */
header {
    z-index: 50 !important;
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 70px;
    transition: all 0.3s ease;
}
.none {
    display: none !important;
}
.max_width {
    max-width: 1300px;
    margin: 0 auto;
}
.sticky2{
    background: #212529 !important;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar.sticky{
  background: #212529 !important;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar_div{
    position: relative;
    margin: 0 auto;
    height: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}
.twitter_path{
    fill: #E5E5E5;
}
.twitter_svg{
    width: 20px;
    height: 20px;
}
nav ul {
    display: flex;
    column-gap: 25px;
}
/* Search */ 
.hamburger_container nav ul li a{ 
    text-decoration: none;
    color: #E5E5E5;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
}
.hamburger_container > nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    row-gap: 20px;
}
.hamburger_container {
    position: fixed;
    z-index: -3;
    top: 0;
    padding: 100px 70px 0 70px;
    left: 0;
    display: flex;
    right: 0;
    bottom: 0;
    background-color: #212529;
    transition: .5s ease;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, -100%);
    justify-content: center;
    align-items: flex-start;
}
.hamburger_container nav ul {
    display: flex;
    column-gap: 25px;
    align-content: center;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.hamburger_container_active {
    z-index: 50 !important;
    visibility: visible !important;
    opacity: 1 !important;
    transform: translate(0px, 0px) !important;
}
.hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav_container {
    position: relative;
    height: 26px;
    width: 32px;
    z-index: 99 !important;
}
.hamburger-lines .line {
display: block;
height: 4px;
width: 100%;
border-radius: 10px;
background: #FFFFFF;
}
.hamburger {
    z-index: 999 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger-lines .line1 {
transform-origin: 0% 0%;
transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.line1_active{
    transform: rotate(45deg);
}

.line2_active{
    transform: scaleY(0);
}
.line3_active{
    transform: rotate(-45deg);
}
/* End Search */
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #E5E5E5;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
}
.nav_ul_li_a_padding {
    padding-top: 5px;
    padding-bottom: 5px;
}
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0px;
    background: rgba(212, 163, 115, 1);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}
/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* ----------| End Header |----------  */
/*! ----------| Main_Section |----------  */
.main_section {
    position: relative;
    height: 600px;
}
.main_section > div {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: flex-start;
    padding-bottom: 140px;
    align-items: flex-end;
    height: 100%;
}
.main_section video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_div_text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.adventure_span{
    width: 77px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
}
.richard_span{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: white;
}
.under_span span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
}
.under_span{
    display: flex;
    align-items: flex-start;
    column-gap: 11px;
}
.div__span{
    display: flex;
    align-items: center;
    column-gap: 11px;
}
/* ----------| End Main_Section |----------  */
/*! ----------| Section_1 |----------  */
main {
    padding-top: 150px;
    background-color: white;
}
/* .section_1 {

} */
.section_1_div {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.section_1 > div > span {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #495057;
}
.section_1_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_1_nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.section_1_nav a {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    color: #495057;
    text-decoration: none;
}
.section_1_nav_a_active {
    color: #D4A373 !important;
}
.section_1_topics {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.section_1_topics_block {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.section_1_topics_block > a {
    position: relative;
    width: 310px;
    height: 280px;
    border-radius: 5px;
}
.section_1_topics_block > a > span {
    position: absolute;
    right: 20px;
    top: 20px;
}
.section_1_topics_block_title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #495057;
    width: 273px;    
}
.section_1_topics_block_comment {
    width: 310px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
}
.zoom {
    transition: transform .2s;
}
  
.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
}
/*  ----------|  End Section_1 |----------  */
.section_3 {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}
.section_3 > p {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #495057;
}
.section_3_content {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
.section_3_content_block {
    position: relative;
    width: 420px;
    height: 350px;
    border-radius: 5px;
}
.section_3_content_block > .adventure_span {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
}
.section_3_content_block_text {
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: flex-end;
    padding: 0 40px 40px;
}
.section_3_content_block_text > span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
}
.section_3_block_title{
    width: 270px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    
}
.section_3_block_comment {
    width: 340px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #E5E5E5;
}
.section_3_content_block_text > span,
.section_3_content_block_text > p {
    z-index: 2;
}
.section_3_content_block > span {
    position: absolute;
    width: 100%;
    height: 100%;
}
.section_3_content_block > span > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* @media only screen and (min-width: 1920px) {
} */

/* Section 2 Start */
.section_2{
    margin-top: 149px;
    margin-bottom: 149px;
}
.sction_2_picture{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: white;
}
.sction_2_span{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #E5E5E5;
}
.adred{
    z-index: 10;
}
.background_img{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
}
.background_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    top: 0;
}
.pos_absolute_img {
    height: 100%;
    width: 100%;
    position: absolute;
    height: 600px;
    clip-path: inset(0);
}
/* Section 2 End */
footer{
    width: 100%;
    height: 400px;
    background-color: #212529;
    margin-top: 149px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer_main{
    margin: 0 auto;
    width: 1300px;
    max-width: 1300px;
    display: flex;
    column-gap: 229px;
    flex-wrap: wrap;
    row-gap: 50px;
}
.block_line_1{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.main_line_span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: white;
}
.line_links{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
    transition: .3s ease;
    text-decoration: none;
}
.line_links:hover{
    color: #D4A373;
}
.footer_block_1{
    display: flex;
    column-gap: 142px;
}
.footer_block_2{
    display: flex;
    column-gap: 216px;
}
.block_line_flex{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.pages_together{
    display: flex;
    column-gap: 18px;
    align-items: center;
}
.under_footer_div{
    width: 100%;
    height: 80px;
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
.under_footer_span{
    color: #E5E5E5;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.link_under{
    text-decoration: none;
    transition: .3s ease;
}
.link_under:hover{
    color: #D4A373;
}
@media(max-width: 1450px){
    .main_section > div{
        padding-left: 70px;
        margin: unset;
    }
    .section_1 > div > span,
    .section_1_nav {
        padding-right: 70px;
        padding-left: 70px;
    }
    .section_3,
    .section_1_topics {
        max-width: unset;
        margin: unset;
    }
    .section_3 > p {
        padding-left: 70px;
    }
}
@media (max-width: 1370px){
    .footer_main{
        width: 100%;
        padding: 0 70px;
        margin: unset;
        column-gap: unset;
        justify-content: space-between;
    }

}
@media (max-width: 1200px){
    .footer_block_2, .footer_block_1{
        width: 40%;
        column-gap: unset;
        justify-content: space-between;
    }
}
@media(max-width:1090px){
    .section_1_topics {
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media(max-width:1005px){
    .section_3_content{
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media(max-width:999px){
    .section_3 > p{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 950px){
    .footer_block_2, .footer_block_1{
        width: unset;
        column-gap: 90px;
        justify-content: unset;
    }
    .sction_2_span{
        font-size: 14px;
    }
}
@media(max-width: 950px){
    .footer_main{
        flex-direction: column;
        align-items: center;
    }
    .footer_block_2, .footer_block_1{
        width: 100%;
        column-gap: unset;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}
@media (max-width: 633px){
    .under_footer_div{
        padding: 0 30px;
    }
    .section_1 > div > span, .section_1_nav{

    }
    .under_footer_span{
        font-size: 10px;
    }
    .sction_2_span{
        font-size: 14px;
    }
    .sction_2_picture{
        font-size: 25px;
    }
    .background_img{
        row-gap: 15px;
    }
    .richard_span{
        font-size: 25px;
    }
}
@media(max-width: 555px){
    .section_1 > div > span, .section_1_nav, .main_section > div{
        padding-left: 30px;
        padding-right: 30px;
    }
    .section_1 > div > span {
        text-align: center;
    }
    header{
        padding: 0 30px;
    }
}
@media(max-width: 470px){
    .section_1_nav a{
        font-size: 10px;
    }
}
@media(max-width: 422px){
    .footer_block_2, .footer_block_1{
        flex-direction: column;
    }
    footer{
        height: auto;
        padding: 30px 0;
    }
    .footer_main{
        padding: 0 30px;
    }
    .section_1 > div > span, .section_1_nav, .main_section > div{
        padding-left: 10px;
        padding-right: 10px;
    }
    .section_3_content{
        padding-left: 0;
        padding-right: 0;
    }
    .section_3_content_block{
        width: 97%;
    }
    .section_3_content_block_text > span, .section_3_content_block_text > p{
        width: unset;
    }
}
@media(max-width: 410px){
    .under_footer_div{
        padding: 0 10px;
    }
    .no_at_410 {
        display: none;
    }
    .section_1_nav {
        padding-left: 0;
        padding-right: 0;
    }
}
@media(max-width: 390px){
    .section_1_nav a{
        font-size: 9px;
    }
    .under_footer_span{
        font-size: 9px;
    }
}
@media(max-width: 320px){
    .under_footer_div {
        height: 30px;
    }
    .under_footer_span {
        font-size: 8px;
    }
}
