html{
    scroll-behavior: smooth;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*! ----------| Header |----------  */
header {
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 70px;
    transition: all 0.3s ease;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
/* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.navbar.sticky{
  background: #212529 !important;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
header > div{
    margin: 0 auto;
    height: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo a {
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}
.twitter_path{
    fill: #E5E5E5;
}
.twitter_svg{
    width: 20px;
    height: 20px;
}
nav ul {
    display: flex;
    column-gap: 25px;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #E5E5E5;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
}
.nav_ul_li_a_padding {
    padding-top: 5px;
    padding-bottom: 5px;
}
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0px;
    background: rgba(212, 163, 115, 1);
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}
/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* ----------| End Header |----------  */
/*! ----------| Main_Section |----------  */
.main_section {
    position: relative;
    height: 600px;
}
.main_section > div {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: flex-start;
    padding-bottom: 140px;
    align-items: flex-end;
    height: 100%;
}
.main_section video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_div_text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.adventure_span{
    width: 77px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: white;
    background: rgba(255, 255, 255, 0.15);
}
.richard_span{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: white;
}
.under_span span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: white;
}
.under_span{
    display: flex;
    align-items: flex-start;
    column-gap: 11px;
}
.div__span{
    display: flex;
    align-items: center;
    column-gap: 11px;
}
/* ----------| End Main_Section |----------  */
/*! ----------| Section_1 |----------  */
main {
    padding-top: 150px;
    background-color: white;
}
.section_1 {

}
.max_width{
    margin: 0 auto;
    max-width: 1300px;
}
.section_1_div {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.section_1 > div > span {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #495057;
}
.section_1_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_1_nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.section_1_nav a {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    color: #495057;
    text-decoration: none;
}
.section_1_nav_a_active {
    color: #D4A373 !important;
}
.section_1_topics {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.section_1_topics_block {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.section_1_topics_block > a {
    position: relative;
    width: 310px;
    height: 280px;
    border-radius: 5px;
}
.section_1_topics_block > a > span {
    position: absolute;
    right: 20px;
    top: 20px;
}
.section_1_topics_block_title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #495057;
    width: 273px;    
}
.section_1_topics_block_comment {
    width: 310px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #6C757D;
}
/*  ----------|  End Section_1 |----------  */
/* @media only screen and (min-width: 1920px) {
} */
footer{
    width: 100%;
    height: 400px;
    background-color: #212529;
    margin-top: 149px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
}
.footer_main{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    column-gap: 229px;
    flex-wrap: wrap;
    row-gap: 50px;
}
.block_line_1{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.main_line_span{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: white;
}
.line_links{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #E5E5E5;
    transition: .3s ease;
    text-decoration: none;
}
.line_links:hover{
    color: #D4A373;
}
.footer_block_1{
    display: flex;
    column-gap: 142px;
}
.footer_block_2{
    display: flex;
    column-gap: 216px;
}
.block_line_flex{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.pages_together{
    display: flex;
    column-gap: 18px;
    align-items: center;
}
.under_footer_div{
    width: 100%;
    height: 80px;
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
.under_footer_span{
    color: #E5E5E5;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}
.link_under{
    text-decoration: none;
    transition: .3s ease;
}
.link_under:hover{
    color: #D4A373;
}
@media (max-width: 633px){
    .under_footer_div{
        padding: 0 30px;
    }
    .under_footer_span{
        font-size: 10px;
    }
}
@media(max-width: 410px){
    .under_footer_div{
        padding: 0 10px;
    }
    .view_all {
       display: none;
    }
}
